@model Models.TipoDonacionMonetaria

@{
    Layout = "../Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "TipoDonacion";
}

<h3><i class="fa fa-angle-right mt-0"></i> Crear propuesta - Monetaria</h3>
<div class="row mt">
    <div class="container">
        <div class="content-panel">
            <h6><i class="fa fa-angle-right ml-3"></i> Paso 2/3</h6>
            <hr>
            <form class="col-sm-12 col-lg-7 contact-form mt-2 mb-2" action="/Admin/TipoDonacionMonetaria" method="post">
                <div class="form-group">
                    @Html.AntiForgeryToken()
                    @Html.LabelFor(o => o.Dinero, "Monto total necesario")
                    @Html.TextBoxFor(o => o.Dinero, new { @class = "form-control" })
                    <p class="text-danger">@Html.ValidationMessageFor(o => o.Dinero)</p>
                </div>
                <div class="form-group">
                    @Html.AntiForgeryToken()
                    @Html.LabelFor(o => o.CBU, "CBU")
                    @Html.TextBoxFor(o => o.CBU, new { @class = "form-control" })
                    <p class="text-danger">@Html.ValidationMessageFor(o => o.CBU)</p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Continuar</button>
                </div>
            </form>
        </div>
    </div>
 </div>