@model Models.TipoDonacionHorasTrabajo

@{
    Layout = "../Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "TipoDonacion";

    var listado = new List<SelectListItem>()
{
        new SelectListItem()
        {
            Text = "Albañil",
            Value = "Albañil"
        },
        new SelectListItem()
        {
            Text = "Plomero",
            Value = "Plomero"
        },
        new SelectListItem()
        {
            Text = "Electricista",
            Value = "Electricista"
        },
        new SelectListItem()
        {
            Text = "Abogado",
            Value = "Abogado"
        },
        new SelectListItem()
        {
            Text = "Contador",
            Value = "Contador"
        },
        new SelectListItem()
        {
            Text = "Trabajador Social",
            Value = "Trabajador Social"
        },
        new SelectListItem()
        {
            Text = "Cocinero",
            Value = "Cocinero"
        },
        new SelectListItem()
        {
            Text = "Otro",
            Value = "Otro"
        }

    };
}

<h3><i class="fa fa-angle-right mt-0"></i> Crear propuesta - Horas Trabajo</h3>
<div class="row mt">
    <div class="container">
        <div class="content-panel">
            <h6><i class="fa fa-angle-right ml-3"></i> Paso 2/3</h6>
            <hr>
            <form class="col-sm-12 col-lg-7 contact-form mt-2 mb-2" action="/Admin/TipoDonacionHorasTrabajo" method="post">
                <div class="form-group">
                    @Html.AntiForgeryToken()
                    @Html.LabelFor(o => o.CantidadHoras, "Cantidad de horas")
                    @Html.TextBoxFor(o => o.CantidadHoras, new { @class = "form-control" })
                    <p class="text-danger">@Html.ValidationMessageFor(o => o.CantidadHoras)</p>
                </div>
                <div class="form-group">
                    @Html.DropDownListFor(o => o.Profesion, listado, new { @class = "form-control" })
                    <p class="text-danger">@Html.ValidationMessageFor(o => o.Profesion)</p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Continuar</button>
                </div>
            </form>
        </div>
    </div>
</div>
