@model Models.TipoDonacionInsumos

@{
    Layout = "../Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "TipoDonacion";
}

<h3><i class="fa fa-angle-right mt-0"></i> Crear propuesta - Insumos</h3>
<div class="row mt">
    <div class="container">
        <div class="content-panel">
            <h6><i class="fa fa-angle-right ml-3"></i> Paso 2/3</h6>
            <hr>
            <form class="col-sm-12 col-lg-7 contact-form mt-2 mb-2" action="/Admin/TipoDonacionInsumos" method="post">
                <div class="form-group">
                    @Html.AntiForgeryToken()
                    @Html.LabelFor(o => o.NombreInsumo, "Item (Ej.: Ladrillos, chapas, ventanas,etc.)")
                    @Html.TextBoxFor(o => o.NombreInsumo, new { @class = "form-control" })
                    <p class="text-danger">@Html.ValidationMessageFor(o => o.NombreInsumo)</p>
                </div>
                <div class="form-group">
                    @Html.AntiForgeryToken()
                    @Html.LabelFor(o => o.Cantidad, "Cantidad")
                    @Html.TextBoxFor(o => o.Cantidad, new { @class = "form-control" })
                    <p class="text-danger">@Html.ValidationMessageFor(o => o.Cantidad)</p>
                </div>

                <div class="form-group">
                    <a type="button" class="btn btn-info btn-circle btn-lg" href="/Admin/"><i class="	fa fa-plus-square"></i></a>
                    Agregar otro item
                    <button type="submit" class="btn btn-success float-right">Continuar</button>
                </div>
            </form>
        </div>
    </div>
</div>