
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Titulo</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @Styles.Render("~/Content/css")

</head>
<body class="@ViewBag.EstiloPagina">
    @{ if (Session["session"] == "" || Session["session"] == null)
        {
            @RenderPage("Header.cshtml")
        }
        else
        {
            @RenderPage("HeaderLogin.cshtml")
        }
    }

    @RenderPage("Menu.cshtml")
    </header><!-- .site-header -->
    @{if (ViewBag.EstiloPagina != "site-header")
        {
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1>@ViewBag.Title</h1>
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .page-header -->
        } }
    @RenderBody()

    @Html.Partial("Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/collapsible")
    @Scripts.Render("~/bundles/swiper")
    @Scripts.Render("~/bundles/circle-progress")
    @Scripts.Render("~/bundles/countdown")
    @Scripts.Render("~/bundles/barfiller")
    @Scripts.Render("~/bundles/countTo")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)

</body>
</html>