@{ 
   PracticaEF.Data.Usuarios user = new PracticaEF.Data.Usuarios();
   user = (PracticaEF.Data.Usuarios)Session["session"];
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Admin</title>
    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    @Styles.Render("~/Content/admin_css")
    <!-- Bootstrap core CSS -->
</head>

<body>
    <section id="container">
        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="~/Index/Inicio" class="logo"><b>A<span>AP</span></b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
            </div>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="~/Admin/SessionFinish">Salir</a></li>
                </ul>
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <p class="centered"><a href="~/Admin/Perfil/@user.IdUsuario"><img src="~/Images/users/@user.Foto" class="img-circle" width="80"></a></p>
                    <h5 class="centered">@user.Nombre</h5>
                    @{
                          if (user.TipoUsuario == 1)
                          {
                            <h5 class="centered">Administrador</h5>
                          }
                          else
                          {
                            <h5 class="centered">Usuario</h5>
                          }
                      }

                    <h6 class="centered">@user.UserName</h6>
                    <h6 class="centered">@user.Email</h6>
                    <li class="mt">
                        <a class="active" href="Index">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-tasks"></i>
                            <span>Propuestas</span>
                        </a>
                        <ul class="sub">
                            <li><a href="~/Admin/CrearPropuesta">Crear Propuesta</a></li>
                            <li><a href="~/Admin/Propuestas">Mis Propuestas</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/Admin/MiHistorialDonaciones/@user.IdUsuario">
                            <i class="fa fa-money"></i>
                            <span>Mis Donaciones </span>
                        </a>
                    </li>
                    @{ if (user.TipoUsuario == 1)
                        {
                            <li>
                                <a href="~/Admin/Denuncias">
                                    <i class="fa fa-envelope"></i>
                                    <span>Ver denuncias </span>
                                </a>
                            </li>
                        }
                    }

                    <!--li class="sub-menu">
        <a href="javascript:;">
            <i class=" fa fa-bar-chart-o"></i>
            <span>Charts</span>
        </a>
        <ul class="sub">
            <li><a href="morris.html">Morris</a></li>
            <li><a href="chartjs.html">Chartjs</a></li>
            <li><a href="flot_chart.html">Flot Charts</a></li>
            <li><a href="xchart.html">xChart</a></li>
        </ul>
    </li-->
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                @RenderBody()
            </section>
        </section>
        <!--main content end-->
        <!--footer start-->
        <!--footer class="site-footer">
          <div class="text-center">
            <p>
              &copy; Copyrights <strong>Dashio</strong>. All Rights Reserved
            </p>

            <a href="index.html#" class="go-top">
              <i class="fa fa-angle-up"></i>
              </a>
          </div>
        </footer-->
        <!--footer end-->
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/dcjqaccordion")
    @Scripts.Render("~/bundles/scrollTo")
    @Scripts.Render("~/bundles/common-scripts")
    @RenderSection("scripts", required: false)
</body>

</html>
