@model PracticaEF.Data.Propuestas
@{
    ViewBag.Title = "PropuestaDetalle";
    PracticaEF.Data.Usuarios u = (PracticaEF.Data.Usuarios)Session["session"];
}

<div class="mt-3 mb-3 pt-5 pb-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7 order-2 order-lg-1">
                <div class="section-heading">
                    <h2 class="entry-title">@Model.Nombre</h2>
                </div><!-- .section-heading -->

                <div class="entry-content mb-3">
                    <h3>@Model.Descripcion</h3>
                </div><!-- .entry-content -->
                <div class="row">
                    <div class="col-sm-2">
                        <img src="~/Images/users/@Model.Usuarios.Foto" alt="Alternate Text" style="width:50px;height:50px;border-radius:100%;"/>
                    </div>
                    <div class="col-9" style="font-size:0.8em;">
                        Creado por: @Model.Usuarios.Nombre @Model.Usuarios.Apellido<br>
                        Fecha de creación: @Model.FechaCreacion.ToString("MM/dd/yyyy")<br>
                        Termina el: @Model.FechaFin
                    </div>
                </div>
                
                <div class="fund-raised w-100 mt-5">
                    <p>Aceptación</p>
                    <div class="featured-fund-raised-bar barfiller">
                        <div class="tipWrap">
                            <span class="tip"></span>
                        </div><!-- .tipWrap -->
                        <span class="fill" data-percentage="@Model.Valoracion"></span>
                    </div><!-- .fund-raised-bar -->
                </div><!-- .fund-raised -->

                @{
                    if (@Model.IdUsuarioCreador != u.IdUsuario)
                    {
                        <div class="row">
                            <div class="col-sm-12 col-md-2">
                                <form action="/Sites/ValorarPropuesta" method="post">
                                    <div class="entry-footer mt-5">
                                        <input type="text" name="IdUsuario" value="@u.IdUsuario" hidden />
                                        <input type="text" name="IdPropuesta" value="@Model.IdPropuesta" hidden />
                                        <input type="text" name="Valoracion" value="1" hidden />
                                        <button type="submit" class="btn gradient-bg"><i class="fa fa-thumbs-o-up"></i></button>
                                    </div><!-- .entry-footer -->
                                </form>
                            </div>
                            <div class="col-sm-12 col-md-2">
                                <form action="/Sites/ValorarPropuesta" method="post">
                                    <div class="entry-footer mt-md-5">
                                        <input type="text" name="IdUsuario" value="@u.IdUsuario" hidden />
                                        <input type="text" name="IdPropuesta" value="@Model.IdPropuesta" hidden />
                                        <input type="text" name="Valoracion" value="0" hidden />
                                        <button type="submit" class="btn gradient-bg"><i class="fa fa-thumbs-o-down"></i></button>
                                    </div><!-- .entry-footer -->
                                </form>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="entry-footer mt-md-5">
                                    <a href="/Sites/GenerarDonacion/@Model.IdPropuesta" class="btn gradient-bg">Donar Ahora</a>
                                </div><!-- .entry-footer -->
                            </div>
                            <div class="col-sm-12 col-md-2">
                                <div class="entry-footer mt-md-5">
                                    <a href="/Sites/GenerarDenuncia/@Model.IdPropuesta" class="btn btn-warning pt-4 border-0"><i class="fa fa-minus-circle"></i></a>
                                </div><!-- .entry-footer -->
                            </div>
                        </div>
                    }
                }
            </div><!-- .col -->

            <div class="col-12 col-lg-5 order-1 order-lg-2">
                <img src="~/Images/propuestas/@Model.Foto" alt="" style="width:100%">
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .highlighted-cause -->
