@model List<PracticaEF.Data.Propuestas>
@{
    ViewBag.Title = "Propuestas";
    PracticaEF.Data.Usuarios u = (PracticaEF.Data.Usuarios)Session["session"];
    int i = 0;
    string clase = "";
}

<div class=" pt-3 bg-danger"></div>

<div class="our-causes pt-0">
    <div class="container">
        <div class="row">

            @{
                foreach (var p in Model)
                {
                    if ((PracticaEF.Data.Usuarios)Session["session"] != null)
                    {
                        if (p.IdUsuarioCreador != u.IdUsuario)
                        {
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="cause-wrap">
                                <figure class="m-0">
                                    <img src="~/Images/propuestas/@p.Foto" alt="" style="width: 100%; height: 150px;">

                                    <div class="figure-overlay d-flex justify-content-center align-items-center position-absolute w-100 h-100">
                                        <a href="/Sites/PropuestaDetalle/@p.IdPropuesta" class="btn gradient-bg mr-2">Donar ahora</a>
                                    </div><!-- .figure-overlay -->
                                </figure>

                                <div class="cause-content-wrap">
                                    <header class="entry-header d-flex flex-wrap align-items-center">
                                        <h3 class="entry-title w-100 m-0"><a href="/Sites/PropuestaDetalle/@p.IdPropuesta">@p.Nombre</a></h3>
                                    </header><!-- .entry-header -->

                                    <div class="entry-content">
                                        <p class="m-0">Creada por: @p.Usuarios.Nombre @p.Usuarios.Apellido</p>
                                    </div><!-- .entry-content -->

                                    @{
                                        if (p.Valoracion >= 0 && p.Valoracion < 33)
                                        {
                                            clase = "bg-danger";
                                        }
                                        if (p.Valoracion >= 33 && p.Valoracion < 66)
                                        {
                                            clase = "bg-warning";
                                        }
                                        if (p.Valoracion >= 66)
                                        {
                                            clase = "bg-success";
                                        }

                                        <div class="entry-content">
                                            <p>Aceptación:</p>
                                            <div class="progress">
                                                <div class="progress-bar @clase" style="width:@p.Valoracion%">@p.Valoracion %</div>
                                            </div>
                                        </div><!-- .fund-raised -->
                                    }

                                    <div class="fund-raised w-100">
                                        <div class="entry-content">
                                            <p class="m-0">Fecha creación: @p.FechaCreacion</p>
                                        </div><!-- .entry-content -->
                                    </div><!-- .fund-raised -->
                                </div><!-- .cause-content-wrap -->
                            </div><!-- .cause-wrap -->
                        </div><!-- .col -->
                        i++;
                        }
                    }

                    else
                    {
                        <div class="col-12 col-md-6 col-lg-4">
                                <div class="cause-wrap">
                                    <figure class="m-0">
                                        <img src="~/Images/propuestas/@p.Foto" alt="" style="width: 100%; height: 150px;">

                                        <div class="figure-overlay d-flex justify-content-center align-items-center position-absolute w-100 h-100">
                                            <a href="/Sites/PropuestaDetalle/@p.IdPropuesta" class="btn gradient-bg mr-2">Donar ahora</a>
                                        </div><!-- .figure-overlay -->
                                    </figure>

                                    <div class="cause-content-wrap">
                                        <header class="entry-header d-flex flex-wrap align-items-center">
                                            <h3 class="entry-title w-100 m-0"><a href="/Sites/PropuestaDetalle/@p.IdPropuesta">@p.Nombre</a></h3>
                                        </header><!-- .entry-header -->

                                        <div class="entry-content">
                                            <p class="m-0">Creada por: @p.Usuarios.Nombre @p.Usuarios.Apellido</p>
                                        </div><!-- .entry-content -->

                                        @{
                                            if (p.Valoracion >= 0 && p.Valoracion < 33)
                                            {
                                                clase = "bg-danger";
                                            }
                                            if (p.Valoracion >= 33 && p.Valoracion < 66)
                                            {
                                                clase = "bg-warning";
                                            }
                                            if (p.Valoracion >= 66)
                                            {
                                                clase = "bg-success";
                                            }

                                            <div class="entry-content">
                                                <p>Aceptación:</p>
                                                <div class="progress">
                                                    <div class="progress-bar @clase" style="width:@p.Valoracion%">@p.Valoracion %</div>
                                                </div>
                                            </div><!-- .fund-raised -->
                                        }

                                        <div class="fund-raised w-100">
                                            <div class="entry-content">
                                                <p class="m-0">Fecha creación: @p.FechaCreacion</p>
                                            </div><!-- .entry-content -->
                                        </div><!-- .fund-raised -->
                                    </div><!-- .cause-content-wrap -->
                                </div><!-- .cause-wrap -->
                            </div><!-- .col -->
                        }
                    }
                }

        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .our-causes -->